[Desktop Entry]
Type=Application
Name=FileCollector
Comment=File collection and organization tool
Comment[zh_CN]=文件收集与编排工具
Exec=filecollector
Icon=io.github.sam_fic.filecollector
Categories=Utility;TextTools;FileTools;
Terminal=false
StartupNotify=true
X-GNOME-UsesNotifications=true
