.left-panel {
    min-width: 200px;
}

.middle-panel {
    min-width: 400px;
}

.right-panel {
    min-width: 200px;
}

.panel-frame {
    background: transparent;
    border: none;
    box-shadow: none;
    border-radius: 9px;
}

.panel-frame > box {
    border-radius: 9px;
}

.card scrolledwindow,
.card treeview,
.card treeview.view,
.card listview,
.card textview,
.card textview text,
.card textview.view,
.card textview.view text {
    background: transparent;
    background-color: transparent;
    border: none;
    border-radius: 9px;
}

.card textview,
.card textview text {
    caret-color: @caret_color;
}

.card listview row {
    border-radius: 9px;
}

.paned-no-handle {
    background: none;
}

paned {
    background: transparent;
}

paned separator {
    background: transparent;
    min-width: 0;
    min-height: 0;
}

paned > separator {
    background: transparent;
}